<div
  class="navbar absolute top-0 left-0 w-full z-50 text-white min-h-[80px]"
  [ngClass]="currentRoute !== '/weather' ? 'bg-base-200' : 'bg-transparent'"
>
  <!-- Logo -->
  <div class="navbar-start">
    <a routerLink="/weather" class="btn btn-ghost text-xl">ClimApp</a>
  </div>

  <!-- Botón derecha -->
  <div class="navbar-end">
    @if(isLogged()){
      <button class="btn btn-ghost backdrop-blur-md" (click)="logout()">
        Cerrar sesión
      </button>
    }
    @else {
      <a class="btn btn-ghost border border-white/30 backdrop-blur-md">
        Regístrate
      </a>
    }
  </div>
</div>