/* Contenedores de fondo dinámicos */
.weather-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh; 
    width: 100%;
    
    transition: background 0.8s ease;
    padding: 20px;
    box-sizing: border-box;
}

.default-bg { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); }
.sunny-bg   { background: linear-gradient(135deg, #2980b9 0%, #6dd5fa 50%, #ffffff 100%); }
.night-bg   { background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%); }
.rainy-bg   { background: linear-gradient(135deg, #616161 0%, #9bc5c3 100%); }
.snow-bg { 
    background: linear-gradient(135deg, #e6eff1 0%, #abc1ee 50%, #d1d9e6 100%); 
}

.card {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 30px;
    width: 350px;
    color: white;
    box-shadow: 0 25px 45px rgba(0,0,0,0.2);
    text-align: center;
}

.search-box {
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 5px 15px;
    margin-bottom: 25px;
}

.search-box input {
    background: transparent;
    border: none;
    color: white;
    padding: 10px 0;
    width: 100%;
    outline: none;
}

.search-box input::placeholder { color: rgba(255,255,255,0.7); }

.search-box button {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.date { font-size: 0.9rem; opacity: 0.8; text-transform: capitalize; }
.city { font-size: 2rem; font-weight: 600; margin-bottom: 10px; }

.main-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp {
    font-size: 5rem;
    font-weight: 800;
    margin-left: -10px;
}

.weather-icon {
    width: 120px;
    filter: drop-shadow(0 0 10px rgba(255,255,255,0.3));
}

.weather-desc {
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    border-top: 1px solid rgba(255,255,255,0.2);
    padding-top: 20px;
}

.detail-item {
    display: flex;
    flex-direction: column;
}

.label { font-size: 0.75rem; opacity: 0.7; }
.value { font-size: 1rem; font-weight: 600; }

.fade-in {
    animation: fadeIn 0.5s ease-in;
}

.map-button{
    margin-top: 20px; 
    width: 100%; 
    padding: 10px;
    border-radius: 10px; 
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}